{% extends "base.html.twig" %}

{% block body %}
    {% include "inc/navbar.html.twig" %}

    <h1>create Subject </h1>

    <form action="{{ path("formsubject") }}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Subject Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter Subject" name="subject">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Subject Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Enter subject description" name="description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add Subject</button>
    </form>

{% endblock %}