{% extends "base.html.twig" %}
{% block body %}
    {% include "inc/navbar_teacher.html.twig" %}
    <form method="post", action="{{ path('formanswer', {id:id}) }}">
        <div class="form-group">
            <h1>{{ question }}</h1>
            <label >create answer</label>
            <input type="text" class="form-control"   placeholder="Enter answer" name="answer">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="iscorrect">
            <label class="form-check-label" >correct answer</label>
        </div>


        <button type="submit" class="btn btn-primary">Add Answer</button>
    </form>
    <h2>answers:</h2>
    {% for a in answers %}
        <h4>{{ a.answer }} --- {{ a.isCorrect }}</h4>
    {% endfor %}

{% endblock %}

