{% extends "base.html.twig" %}

{% block body %}

    <button type="button" class="btn btn-info">Add</button>

    <button type="button" class="btn btn-info">Submit</button>

    <form method="post" action="{{ path('formexam', {subjectId:subjectId}) }}">
        <div class="form-group">
            <label >Exam name</label>
            <input type="text" class="form-control" name ="exam"  placeholder="Enter Exam name">


        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}