{% extends "base.html.twig" %}

{% block body %}
{% block navbar %}
    {% include "/inc/navbar.html.twig" %}
{% endblock %}

    <h1>welcome {{ name }} </h1>

    <h2> Your subjects:</h2>
    <ul class="list-group">

        {% for x in subjects %}
        <li class="list-group-item">
            {{ x.name }}
            <a class="btn btn-info" href="{{ path('subject', { id:x.id }) }}">open</a>
        </li>
        {% endfor %}

    </ul>



{% endblock %}