{% extends "base.html.twig" %}

{% block body %}
{% block navbar %}
    {% include "/inc/navbar.html.twig" %}
{% endblock %}

    <h1>welcome {{ name }}</h1>

    <h2> Your subjects:</h2>
    <br>
    <br>
    <h2>your exams:</h2>


{% endblock %}